body{
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    background-image: url(../images/pattern.jpeg);
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    vertical-align: middle;
}
h2 {
    font-size: 32px;
    font-weight: bold;
    color:white;
}
.Brushes h2 {
    background-color: mediumspringgreen;
}
.Frames h2 {
    background-color: lightcoral;
}
.Paint h2 {
    background-color: skyblue;
}
.costs {
    font-weight: bold;
    color: blue;
}
img {
    text-align: left;
}