/*General*/
@font-face {
    font-family: 'Raleway';
    src:url(https://fonts.gstatic.com/s/raleway/v28/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
}
@font-face {
    font-family: 'Manrope';
    src: url(https://fonts.gstatic.com/s/manrope/v13/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk79FN_C-bk.woff2) format('woff2');
}
@font-face {
    font-family: 'Quicksand';
    src: url(https://fonts.gstatic.com/s/quicksand/v30/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o58a-wg.woff2) format('woff2');
}
body {
    margin: 0 10%;
    display: block;
    font-family: 'Raleway', sans-serif;
  }
  .container {
    border: solid 3px #E6E6E6;
    padding: 10px;
    margin: 10px auto;
}
h1,h2{
    color:#011D45;
    font-family: 'Manrope',sans-serif;
}


/*Color Section*/
.color-panel {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
  }
.deepblue{
    background-color: #011D45;
    color: #ffffff;
}
.turquoise{
    background-color: #29DEB8;
    color:#000000;
}
.mintgreen{
    background-color: #86FFAA;
    color:#000000;
}
.pearlgrey{
    background-color: #E6E6E6;
    color:#000000;
}
.color-label{
    font-weight: bold;
    font-size: 24px;
}
.color-hex{
    font-style: italic;
}
.color-use{
    font-size:14px;
}
/*Font Section*/
.font-panel {
    width: 45%;
    display: inline-block;
    overflow:scroll;    
  }
.Raleway{
    font-family: 'Raleway', sans-serif;
}
.Manrope{
    font-family: 'Manrope',sans-serif;
}
.Quicksand{
    font-family: 'Quicksand',sans-serif;
}
.font-label{
    font-size: 24px;
    text-decoration: underline;
    font-weight: 600;
}
.standard{
    font-size: 16px;
    font-weight: 400;
}
.bold{
    font-size: 16px;
    font-weight: 700;    
}
.italic{
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}
.font-use{
    font-size:14px;
    font-weight:500;
}
/*Text Type section*/
.H1{
    font-weight: 700;
    font-size: 24px;
    font-family: 'Manrope',sans-serif;
  }
  .H2{
    font-weight: 600;
    font-size: 16px;
    font-family: 'Manrope',sans-serif; 
  }
  .Paragraph{
    font-weight: 400;
    font-size: 14px;
    font-family: 'Raleway',sans-serif; 
  }
  .Navigation{
    font-weight: 400;
    font-size: 14px;
    font-family: 'Quicksand',sans-serif; 
  }
  .footer{
    font-weight: 400;
    font-size: 12px;
    font-family: 'Quicksand',sans-serif; 
  }
  .texttype-label{
    text-decoration: underline;    
  }
  .texttype-use{
    font-style: italic;
  }